@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans+Condensed:ital,wght@0,100;1,400;1,500&family=Kanit:ital,wght@0,100;1,300&family=Lato:wght@100&family=Noto+Sans:ital,wght@0,100;1,200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=Roboto:ital,wght@1,100&family=Rubik+Doodle+Shadow&family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans+Condensed:ital,wght@0,100;1,400;1,500&family=Kanit:ital,wght@0,100;1,300&family=Lato:wght@100&family=Noto+Sans:ital,wght@0,100;1,200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=Roboto:ital,wght@1,100&family=Rubik+Doodle+Shadow&family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans+Condensed:ital,wght@0,100;1,400;1,500&family=Kanit:ital,wght@0,100;1,300&family=Lato:wght@100&family=Noto+Sans:ital,wght@0,100;1,200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@500&family=Roboto+Condensed:wght@100&family=Roboto:ital,wght@1,100&family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans+Condensed:ital,wght@0,100;1,400;1,500&family=Kanit:ital, swald:wght@500&family=Roboto+Condensed:ital,wght@0,100;1,500&family=Roboto:ital,wght@1,100&family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');

*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}
.container{
  max-width: 80%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  
}


/*------------header--------*/
header{
  padding: 0px 0;
  /* background-color: #ff8827; */
  
}
header ul{
  display: inline-block;
}
header ul li{
  display: inline-block;
  margin-left: 14px;
}
.nav{
  margin-top: 25px;
  margin-bottom: 18px;
}
header ul li a{
  font-weight: 600;
  transition: 0.5s;
}
header ul li a:hover{
  color: #38d16a;
  font-weight: 800;
}

.nav-links   li.active {
  color: blue;
  color:#38d16a;
}
.cd{
  margin-right: 80px;
}
.HeaderIcon{
  margin-left: 20px;
  transition: 0.5s;
 
}

.navbar-items-icon{
  color: black; 
  display: none;
}
.logo img{
  width: 38vh;
  height: 11vh;
  padding: 0,  
}
                                       

header.active{
  position: sticky;
  top:0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 20px 28px 0 rgba(0 0 0 /6%);
  width: 100%;
  z-index: 11;
}
.submenu-items {
  display: none;
  &::after {
    content: "";
    position: absolute;
    top: -24px; 
    left: 10px;
    border: 10px solid transparent;
    border-bottom-color: #fff;

  }
 
  margin-left: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
 
}

.submenu:hover .submenu-items {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: absolute;
  opacity: 20;
  visibility: visible;
  transition: 0.3s ease;
  z-index:11; 
  
}
.submenu:hover .submenu-items li {
  margin-right: 25px;
  z-index:11; 
}

/*------------header--------*/

/*----------------home----------*/
.right,.left{
  width: 50%;
  position: relative;
}
.espacio{
  margin-right: 20px;
  color: #ffff;
  
}
.flex{
  display: flex;
}
.fondo{
  position: relative;
}
.home{
  /* background-image: url('./components/home/img/wave.png'); */
  height: 75vh;
  padding-right: 3.5%;
  padding-left: 3.5%;
}


@keyframes moveAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
.home .img{
  width: 100%;
}
.home img{
  will-change: transform;
  position: relative;
  top:10px;
  left: 120px;
  width: 80%;
  object-fit: contain;
  transform: scale(1);
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); 
  animation: moveAnimation 5s infinite;
}


.home h1{
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  color: #29e70c98;
}
.socialIcon i{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.socialIcon i:hover{
  color: #fff;
}
.facebook{
  color: #4267b2;
  border: 1px solid #4267b2;
}
.facebook:hover{
  background-color: #4267b2;
}
.twitter{
  color: #4267b2;
  border: 1px solid #4267b2;
}
.twitter:hover{
  background-color: #4267b2;
}
.instagram{
  color: #c8232c;
  border: 1px solid #c8232c;
}
.instagram:hover{
  background-color: #c8232c;
}
.home  .right{
  margin-top: 15%;
}

.home p{
  margin-bottom: 20px;
}
p{
  color: #000;
  line-height: 30px;
  text-align: justify;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
}
/*----------------homefin----------*/
/*---------paltillohome------*/
.services{
  text-align: center;
  padding: 10px 3.5%;
  height: 560px;
}
.blog{
  background-color: #edf2f7;
}
.services .box{
  text-align: left;
}
.services img{
  width: 100%;
  height: 45%;
}
.services .text{
  background-color: #fff;
  box-shadow: 0  5px 20px rgba(0 0 0 /6%);
  padding: 20px;
  margin: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.services .text h2{
  font-weight: 500;
  font-size: 18px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

.seleccion{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
}
.blog .heading{
  text-align: center;
}
.blog .text{
  margin: 0;
}
.blog span{
  opacity: 0.5;
  font-size: 17px;
}
.blog h1{
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
.blog h3{
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  text-align: left;
  margin: 2%;
  font-family: 'Roboto Condensed', sans-serif;
}

.blog p{
  font-family: 'Open Sans', sans-serif;
}
.blog a{
  display: block;
  color: #38d16a;
  line-height: 10px;
}

/*---------paltillohomefin------*/

/*-----------pinteres layoud--------*/
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-top: 4%;
  margin-left: 10%; /* gutter size offset */
  margin-right: 10%;
  width: auto;
}
.my-masonry-grid_column {
  padding-left:5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 5px;
}

.pinteres{
  margin-Bottom: 16px;
  border-Radius: 8px;
  overflow: hidden;
  box-Shadow: 0px 4px 8px rgba(0, 0 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 2%;

}
.pinteres:hover{
  opacity: 0.5;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}
/*------------pinterest layud fin--------------*/
/*------------pinterest layud2 fin--------------*/
.principal{
  margin-top: 2%;

  height: 100vh;
  display: grid;
  place-items: center;
}
.principal h1{
  text-align: left;
}
.container-Pinterest{
  display: grid;
  gap: 10px;
  width: 100%;
}
.container-Pinterest img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.container-Pinterest img:hover{
  opacity: 0.5;
}


.producto {
  position: relative;
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
}

.producto:hover img {
  opacity: 0.5;
}

.producto .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

@media only  screen  and (min-width: 420px){
  .container-Pinterest{
    grid-template-columns:  repeat(2, 1fr);
    width: 80%;
  }
  .container-Pinterest img{
    height: 100%;
  }
}
@media only  screen  and (min-width: 600px){
  .container-Pinterest{
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(4,160px);
  }
  .producto:nth-child(2) {grid-column: 2 / span 2;}
  .producto:nth-child(3) {grid-column: 4 / 4; grid-row: 1/span 3}
  .producto:nth-child(4) {grid-column: 1 / 1; grid-row: 2/span 2}
  .producto:nth-child(6) {grid-column: 3 / 3;grid-row: 2/span 2}
  .producto:nth-child(8) {grid-column: 2 / 1;grid-row: 2/span 2}
  
}
/*------------pinterest layud2 fin--------------*/

@media screen and (max-width: 768px){
  .home{
    /* background-image: url('./components/home/img/wave.png'); */
    height: 64vh;
  }
  .home.flex {
    flex-direction: row;
  }
  header .icon{
    display: none;
  }
  .nav-links{
    display: none;
  }
  .nav-links-sidebar{
    position: absolute;
    display: block;
    background-color: #fff;
    left: 50px;
    top: 75px;
    transition:  0.5s;
    width: 85%;
    height: 65vh;
    z-index: 5;
  }
  .nav-links-sidebar li{
   display:  block;
   flex-direction: column;
   margin-bottom: 30px;
   color: black;
  }

  header ul li{
    margin-bottom: 30px;
    display: none;
  }
  .navbar-items-icon {
    display: block;
    outline: none;
    border: none;
    position: absolute;
    color: black;
    right: 30px;
    border: 1px solid black;
    padding: 5px 10px;
  }

  .left{
    width: 100%;
    order: 1;
  }
  .rigth {
    width: 50%;
    order: 2;
  }
  .home .img{
    display: none;
  }
  .home img{
   display: none;
  }
  .grid{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    margin: 0;
  }
/*Services*/
.services{
  text-align: center;
  background-color: #f8f9fe;
  padding: 10px 0;
  height: 140vh;
}

.blog h3{
  margin-bottom: 4%;
}

}

/*--------LOGIN_:______*/

.error-message {
  color: red;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.input-error {
  border: 1px solid red;
}
.loginText{
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
.loginTitulo{
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #7952e3;
}

.loginLabel{
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.forget{
    color: blue;
  text-align: end;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 50%;
  width: 50%;
}
.singText{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  color: blue;
}
.text2{
  color:#000;
  margin-bottom: 10px;
}
.recuerdame{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}
.recuerdame .singText{
  color: blue;
}

.cuadro{
  margin-right: 10px;
}
.password-input-container{
  display: flex;
  flex-direction: row;
}

/*-----------modaal--------*/
.IconoRe{
  font-size: large;
}


/*-----------captcha--------*/
  .recaptcha{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 9%;
  }
/*-----------captcha--------*/

.overflow-y-auto::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}
